<section class="notfound">
  <div class="notfound__inner">
    <p class="eyebrow">404</p>
    <h1 class="notfound__title">Page<em>not found.</em></h1>
    <p class="notfound__copy">{{ 'general.404.subtext' | t }}</p>
    <a class="btn-primary" href="{{ routes.root_url }}">{{ 'general.404.link' | t }}</a>
  </div>
</section>
